<h1>Listing geofences</h1>

<table>
  <tr>
	<th>User</th> 
    <th>Region</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Radius</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @geofences.each do |geofence| %>
  <tr>
    <td><%= geofence.user_id %></td> 
    <td><%= geofence.region %></td>
    <td><%= geofence.lat %></td>
    <td><%= geofence.long %></td>
    <td><%= geofence.radius %></td>
    <td><%= link_to 'Show', geofence %></td>
    <td><%= link_to 'Edit', edit_geofence_path(geofence) %></td>
    <td><%= link_to 'Destroy', geofence, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Geofence', new_geofence_path %>
<br />
<br />
<%= link_to 'Users', users_path %>
<br />
<%= link_to 'User Locations', user_locations_path %>
