<h1>Listing viruses</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @viruses.each do |virus| %>
  <tr>
    <td><%= virus.name %></td>
    <td><%= link_to 'Show', virus %></td>
    <td><%= link_to 'Edit', edit_virus_path(virus) %></td>
    <td><%= link_to 'Destroy', virus, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Virus', new_virus_path %>
<br />
<br />
<%= link_to 'Users', users_path %>
<br />
<%= link_to 'User Locations', user_locations_path %>
<br />
<%= link_to 'Geofences', geofences_path %>     
<br />
<%= link_to 'Characteristics', characteristics_path %>    
<br />
<%= link_to 'Virus Characteristics', virus_characteristics_path %>