<h1>Viruses</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Virus Name</th>
		<th><th>
  </tr>

<% @viruses.each do |virus| %>
  <tr>
    <td><%= virus.id %></td>
    <td><%= virus.name %></td>
    <td><%= link_to_icon 'Show', virus %></td>
    <td><%= link_to_icon 'Edit', edit_virus_path(virus) %></td>
    <td><%= link_to_icon 'Destroy', virus, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "New Virus", new_virus_path%>