<p id="notice"><%= notice %></p>

<p>
	<p>
	  <b>Virus ID:</b>
	  <%= @virus.id %>
	</p>
	<p>
	<b>Name:</b>
	  <%= @virus.name %>
	</p>
	<p>
	  <b>Created By:</b>
	  <%= @virus.user_id %>
	</p>
	<p>
	  <b>Created At:</b>
	  <%= @virus.created_at %>
	</p>
</p>


<%= link_to 'Edit', edit_virus_path(@virus) %> |
<%= link_to 'Back', viruses_path %>
