<%= form_for(@user_location) do |f| %>
  <% if @user_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_location.errors.count, "error") %> prohibited this user_location from being saved:</h2>

      <ul>
      <% @user_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :Point %><br />
    <%= f.text_field :latlon %>
  </div>
  <div class="field">
    <%= f.label :send_method %><br />
    <%= f.text_field :send_method %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.time_select :timestamp %>
  </div>
  <div class="test">
    <%= f.submit %>
  </div>
<% end %>
