<header>
		<p>User Locations</p>
</header>
<div> <%= link_to t('delete_all'), delete_all_user_locations_path, confirm: 'Delete all user locations?', :method => :delete %></div>
<br />
<table>
		<tr class=header>
			<td>
				User id
			</td>
			<td>
				Longitude
			</td>
			<td>
				Latitude
			</td>
			<td>
				Send Method
			</td>
			<td>
				Time Stamp
			</td>
		</tr>
<%= render @user_locations %>
</table>
<br />

<%= link_to 'New User location', new_user_location_path %>
<br />
<br />
<%= link_to 'Users', users_path %>
<br />
<%= link_to 'Viruses', viruses_path %>

