<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_location.user_id %>
</p>

<p>
  <b>Location:</b>
  <%= @user_location.latlon %>
</p>
     
<p>
  <b>Send Method:</b>
  <%= @user_location.send_method %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @user_location.timestamp %>
</p>


<%= link_to 'Edit', edit_user_location_path(@user_location) %> |
<%= link_to 'Back', user_locations_path %>
