<h1>Listing virus_characteristics</h1>

<table>
  <tr>
    <th>Virus</th>
    <th>Characteristic</th>
    <th>Characteristic level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @virus_characteristics.each do |virus_characteristic| %>
  <tr>
    <td><%= virus_characteristic.virus_id %></td>
    <td><%= virus_characteristic.characteristic_id %></td>
    <td><%= virus_characteristic.characteristic_level %></td>
    <td><%= link_to_icon 'Show', virus_characteristic %></td>
    <td><%= link_to_icon 'Edit', edit_virus_characteristic_path(virus_characteristic) %></td>
    <td><%= link_to_icon 'Destroy', virus_characteristic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Virus characteristic', new_virus_characteristic_path %>
