<!DOCTYPE html>
<html>
<head>
  <title>Hitchens</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
	<%= link_to "Users", users_path %> | <%= link_to "User Locations", user_locations_path %> | <%= link_to "Viruses", viruses_path %> | <%= link_to "Characteristics", characteristics_path %> | <%= link_to "Virus Characteristics", virus_characteristics_path %>
</p>
<%= yield %>

</body>
</html>
